.main {
  transition: transform 0.3s ease-in-out;
}

.arrow-button {
  font-size: 3em;
  margin-right: 2px;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #e0e0e0;
}

.typing-animation {
  animation: typing 6s steps(40) infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.project-description {
  font-size: 1.2em;
  /* Adjust the size as you see fit */
  line-height: 1.5;
  /* Improve readability with some line height */
}

.container {
  position: relative;
}

.circle {
  position: relative;
  animation: rotate 20s infinite linear;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  width: 8.5em;
  height: 8.5em;
  font-size: 2.75em;
}

.logo-js {
  color: #f7df1e;
  transform: rotate(0deg) translate(-50%, -50%) rotate(0deg);
}

.logo-react {
  color: #61dafb;
  transform: rotate(60deg) translate(-50%, -50%) rotate(-60deg);
}

.logo-react-native {
  color: #61dafb;
  transform: rotate(120deg) translate(-50%, -50%) rotate(-120deg);
}

.logo-gcp {
  color: #4285f4;
  transform: rotate(180deg) translate(-50%, -50%) rotate(-180deg);
}

.logo-bootstrap {
  color: #563d7c;
  transform: rotate(240deg) translate(-50%, -50%) rotate(-240deg);
}

.logo-nodejs {
  color: #8cc84b;
  transform: rotate(300deg) translate(-50%, -50%) rotate(-300deg);
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}